<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Likes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<style>
    table th{
        padding: 5px;
    }
</style>
<body>
    <table>
        @{
            <tr>
                <form action="UserProfile" method="POST">
                    <input type="hidden" value="@ViewBag.aUser.id" name="userID">
                    <td>
                        <button class="viewLikes" style="background:transparent; border:none; color:#3678ba; font-size:25px;">@ViewBag.aUser.alias says:</button>
                    </td>
                </form>
                <td style="font-size:25px;">@ViewBag.aPost.message</td>
                <td>
                </td>
            </tr>
         
        }
    </table>
    <h2>People who liked this post</h2>
    <table>
        <th>Alias</th>
        <th>Name</th>
           

                @foreach(var like in @ViewBag.theLikes)
                {
                    @foreach(var user in @ViewBag.allUsers)
                    {
                        @if(@like.users_id == @user.id)
                        {
                            <tr>
                                <td>@user.alias</td> 
                                <td>@user.name</td>
                            </tr>
                        }
                    }
                }
            
    </table>
</body>
</html>